/* Move down content because we have a fixed navbar that is 50px tall */
html {
    height: 100%;
}
body {
    /*font-family: 'Open Sans', sans-serif !important;*/
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/*--------------------------NAVBAR PERSONALIZADO------------------------*/

.navbar-custom {
    background-color: #2b2e4a;
}

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

    /* for dropdown only - change the color of droodown */
    .navbar-custom .dropdown-menu {
        background-color: #2b2e4a;
        border: 1px solid white;
        /*box-shadow: 1px 10px 20px 2px #888888;*/
    }

    .navbar-custom .dropdown-item {
        color: #ffffff;
    }

        .navbar-custom .dropdown-item:hover,
        .navbar-custom .dropdown-item:focus {
            color: #333333;
            background-color: rgba(255,255,255,.5);
        }

        /*OPEN ON HOVER*/

@media only screen and (min-width : 992px) {
    .navbar-custom .dropdown-menu {
        background-color: #2b2e4a;
        border: 1px solid white;
        box-shadow: 1px 5px 10px 2px #1c1c1c;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu,
    .nav-pills .dropdown-menu,
    .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }

    .expanding_input {
        width: 70px !important;
    }

    .expanding_input:focus {
        width: 200px !important;
       -webkit-transition: all 0.3s ease-in-out;
    }


}

.navbar-toggler {
    border: 1px solid white;
}

/*-----------------------FIN NAVBAR PERSONALIZADO------------------------*/
.blanco{
    color: white;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

footer {
    background-color: #903749;
    color: white;
    padding: 10px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #903749 !important;
}

/*FLEXBOX ACASA*/
.content-flex {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.box-flex {
    text-align: center;
    color: white;
    font-size: 36px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .box-flex.verset {
        background-image: url('../Img/fondo_editado_morado.jpg');
        background-position: 50% -1px;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15%;
    }

html, body, .fullheight {
    min-height: 100% !important;
    height: 100%;
}
.fullwidth {
    width: 100%;
}

.referinta {
    background-color: #903749;
}

/*MESAJ BUNVENIT*/
.mesaj_bunvenit {
    text-align: center;
    font-style: italic;
    color: #a5a4a4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 50px;
    margin: 30px 0px;
    background-image: url('../Img/quote.png');
    background-position: 0% -1px;
    background-repeat: no-repeat;
    display: table;
}

.mesaj_bunvenit_text {
    font-size: 2rem;
    line-height: 2;
}

@media screen and (max-width:767px) {
    .PnTitulo {
        padding: 90px 20px 60px 20px;
    }

    .titulo {
        letter-spacing: 1px;
        font-size: 1em;
    }

    .mesaj_bunvenit_text {
        font-size: 1rem;
    }
}

@media screen and (max-width:991px) {
    .PnTitulo {
        padding: 110px 40px 80px 40px;
    }

    .titulo {
        letter-spacing: 1px;
        font-size: 1.5em;
    }

    .mesaj_bunvenit_text {
        font-size: 1.5rem;
    }
}

/*---------------------------ULTIMELE EVENIMENTE---------------------------*/
/* -------------------------------- 

RESET.CSS

-------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cd-horizontal-timeline a {
    color: #903749;
    text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
    opacity: 0;
    margin: 0em auto;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

    .cd-horizontal-timeline::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'mobile';
        display: none;
    }

    .cd-horizontal-timeline.loaded {
        /* show the timeline after events position has been set (using JavaScript) */
        opacity: 1;
    }

    .cd-horizontal-timeline .timeline {
        position: relative;
        height: 100px;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
    }

    .cd-horizontal-timeline .events-wrapper {
        position: relative;
        height: 100%;
        margin: 0 40px;
        overflow: hidden;
    }

        .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
            /* these are used to create a shadow effect at the sides of the timeline */
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100%;
            width: 20px;
        }

    .cd-horizontal-timeline .events {
        /* this is the grey line/timeline */
        position: absolute;
        z-index: 1;
        left: 0;
        top: 49px;
        height: 2px;
        /* width will be set using JavaScript */
        background: #dfdfdf;
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }

    .cd-horizontal-timeline .filling-line {
        /* this is used to create the green line filling the timeline */
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #903749;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -ms-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: transform 0.3s;
    }

    .cd-horizontal-timeline .events a {
        position: absolute;
        bottom: 0;
        z-index: 2;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 15px;
        color: #383838;
        /* fix bug on Safari - text flickering while timeline translates */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

        .cd-horizontal-timeline .events a::after {
            /* this is used to create the event spot */
            content: '';
            position: absolute;
            left: 50%;
            right: auto;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: -5px;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            border: 2px solid #dfdfdf;
            background-color: #f8f8f8;
            -webkit-transition: background-color 0.3s, border-color 0.3s;
            -moz-transition: background-color 0.3s, border-color 0.3s;
            transition: background-color 0.3s, border-color 0.3s;
        }

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #903749;
    border-color: #903749;
}

.cd-horizontal-timeline .events a.selected {
    pointer-events: none;
}

    .cd-horizontal-timeline .events a.selected::after {
        background-color: #903749;
        border-color: #903749;
    }

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #903749;
}

@media only screen and (min-width: 1100px) {
    .cd-horizontal-timeline {
        margin: 1em auto;
    }

        .cd-horizontal-timeline::before {
            /* never visible - this is used in jQuery to check the current MQ */
            content: 'desktop';
        }
}

.cd-timeline-navigation a {
    /* these are the left/right arrows to navigate the timeline */
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    /* replace text with an icon */
    overflow: hidden;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    transition: border-color 0.3s;
}

    .cd-timeline-navigation a::after {
        /* arrow icon */
        content: '';
        position: absolute;
        height: 16px;
        width: 16px;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(../Img/cd-arrow.svg) no-repeat 0 0;
    }

    .cd-timeline-navigation a.prev {
        left: 0;
        -webkit-transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        -o-transform: translateY(-50%) rotate(180deg);
        transform: translateY(-50%) rotate(180deg);
    }

    .cd-timeline-navigation a.next {
        right: 0;
    }

.no-touch .cd-timeline-navigation a:hover {
    border-color: #903749;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

    .cd-timeline-navigation a.inactive::after {
        background-position: 0 -16px;
    }

.no-touch .cd-timeline-navigation a.inactive:hover {
    border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 0.5em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s;
}

    .cd-horizontal-timeline .events-content li {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        top: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        padding: 0 5%;
        opacity: 0;
        -webkit-animation-duration: 0.4s;
        -moz-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

        .cd-horizontal-timeline .events-content li.selected {
            /* visible event content */
            position: relative;
            z-index: 2;
            opacity: 1;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
            -webkit-animation-name: cd-enter-right;
            -moz-animation-name: cd-enter-right;
            animation-name: cd-enter-right;
        }

        .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
            -webkit-animation-name: cd-enter-left;
            -moz-animation-name: cd-enter-left;
            animation-name: cd-enter-left;
        }

        .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
            -webkit-animation-direction: reverse;
            -moz-animation-direction: reverse;
            animation-direction: reverse;
        }

        .cd-horizontal-timeline .events-content li > * {
            max-width: 800px;
            margin: 0 auto;
        }

    .cd-horizontal-timeline .events-content h2 {
        font-weight: bold;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2;
        color: black;
    }

    .cd-horizontal-timeline .events-content em {
        display: block;
        font-style: italic;
        margin: 10px auto;
        color: black;
    }

        .cd-horizontal-timeline .events-content em::before {
            content: '- ';
        }

    .cd-horizontal-timeline .events-content p {
        font-size: 1.2rem;
        color: #959595;
    }

    .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
        line-height: 1.6;
    }

@media only screen and (min-width: 768px) {
    .cd-horizontal-timeline .events-content h2 {
        font-size: 2rem;
        color: black;
    }

    .cd-horizontal-timeline .events-content em {
        font-size: 1rem;
    }

    .cd-horizontal-timeline .events-content p {
        font-size: 1.2rem;
    }
}

@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
.events-content li{
    text-align: left;
}
.cd-horizontal-timeline .events a:hover{
    text-decoration: none;
}
.events-content li em {
    font-size: 18px;
}
.titlu {
    color: #903749;
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .cajaTimeline {
        background-image: url(../Img/reloj.jpg);
        background-position: -50% -200px;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1400px) {
    .cajaTimeline {
        background-image: url(../Img/reloj.jpg);
        background-position: -40% -200px;
        background-repeat: no-repeat;
    }
}
.boton_leer_mas {
    width: 150px;
}
.btn-outline-morado {
    color: #903749;
    background-color: transparent;
    background-image: none;
    border-color: #903749 !important;
}
    .btn-outline-morado:hover {
        color: #fff;
        background-color: #903749;
        border-color: #903749;
    }
.modal-header {
    background-color: #2b2e4a !important;
    color: white;
}