/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/*--------------------------NAVBAR PERSONALIZADO------------------------*/

.navbar-custom {
    background-color: #2b2e4a;
}

    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }

    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }

    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

    /* for dropdown only - change the color of droodown */
    .navbar-custom .dropdown-menu {
        background-color: #2b2e4a;
        border: 1px solid white;
        /*box-shadow: 1px 10px 20px 2px #888888;*/
    }

    .navbar-custom .dropdown-item {
        color: #ffffff;
    }

        .navbar-custom .dropdown-item:hover,
        .navbar-custom .dropdown-item:focus {
            color: #333333;
            background-color: rgba(255,255,255,.5);
        }

        /*OPEN ON HOVER*/

@media only screen and (min-width : 992px) {
    .navbar-custom .dropdown-menu {
        background-color: #2b2e4a;
        border: 1px solid white;
        box-shadow: 1px 5px 10px 2px #1c1c1c;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu,
    .nav-pills .dropdown-menu,
    .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }

    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }

    .expanding_input {
        width: 70px !important;
    }

    .expanding_input:focus {
        width: 200px !important;
       -webkit-transition: all 0.3s ease-in-out;
    }


}

.navbar-toggler {
    border: 1px solid white;
}

/*-----------------------FIN NAVBAR PERSONALIZADO------------------------*/
.blanco{
    color: white;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

footer {
    background-color: #903749;
    color: white;
    padding: 10px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #903749 !important;
}